code/__pycache__
code/__init__.py

data/__MACOSX/
data/bitcoinalpha/
data/CollegeMsg/
data/reddit-body/
data/reddit-title/
data/stackoverflow/
data/wikipedia/

preprocessing/__pycache__/
preprocessing/preprocess_custom_data.py
preprocessing/preprocess_data.py
preprocessing/preprocess_reddit_data.py
preprocessing/preprocess_uci_data.py

*.sh
*.out